<div class="banner text-center row" ng-class="{'banner--wilkinson': !activeAddress.transformedAddress,
                                               'banner--ani': !activeAddress.transformedAddress,
                                               'banner--off-white': activeAddress.transformedAddress}">
    <!-- can we even get lat/lng? -->
    <div ng-if="session.geoSupport">
        <!-- did we geocode it? -->
        <div ng-show="activeAddress.status != 'rGeocoded' && activeAddress.status != 'confirmed'" style="padding-top:8px;">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{title.confirmLead}}
            </div>
            <div class="pull-right col-lg-2">
                {{title.confirmAxn}} <i class="fa fa-hand-o-up" style="padding-left:8px;"></i>
            </div>
            <!--<div class="pull-right col-lg-2 pull-right" ng-if="activeAddress.status == 'pGiven'">Loading...</div>-->
        </div>
        <!-- geocoded successfully -->
        <div ng-show="activeAddress.status == 'rGeocoded' && activeAddress.transformedAddress" style="padding-top:8px;">
            <div class="col-lg-offset-2 col-lg-5">
                {{ title.correctLead }} <strong>{{ activeAddress.transformedAddress }}</strong> {{ title.correctEnd }}
            </div>
            <div class="col-lg-4">
                Did we get your address correct?
                <span class="flat-btn flat-btn--success" ng-click="confirmAddress()">Yes</span>
                <span class="flat-btn flat-btn--danger">No</span>
            </div>
        </div>
        <!-- address confirmed -->
        
        <!-- edit geocoded address -->

    </div>

    <div ng-if="!session.geoSupport">
        <div class="col-lg-12 text-center">
            Your browser doesn't support geolocation.
        </div>
    </div>
</div>

<img src="assets/img/wilkinsonera.png"/>


<!-- ADDRESS WIDGET -->
<div class="interact interact--unconfirmed" ng-if="activeAddress.status === 'rGeocoded'">
    <!--<textarea class="interact__address" ng-model="transformedAddress" style="padding:6px 18px"></textarea>-->

    <!--<div class="interact__widget interact__widget--success hint--left"-->
    <!--data-hint="Confirm your address" ng-click="confirmAddress()">-->
    <!--<i class="fa fa-check"></i>-->
    <!--</div>-->
</div>


<!--&lt;!&ndash; COMP LIST&ndash;&gt;-->
<!--<div class="interact interact--confirmed" ng-if="activeAddress.status === 'confirmed' && !showCompDetails">-->
<!--<div class="interact__header">-->
<!--<div class="interact__title">-->
<!--{{activeAddress.street1 + ', ' + activeAddress.city + ', ' +-->
<!--activeAddress.stateAbbrev + ' ' + activeAddress.zip}}-->
<!--</div>-->
<!--<div class="interact__controls">-->
<!--<button class="simple-btn simple-btn--success pull-right hint--left" data-hint="Edit address"-->
<!--ng-click="editActiveAddress()">-->
<!--<i class="fa fa-edit"></i>-->
<!--</button>-->
<!--<button class="simple-btn simple-btn--wilkinson pull-left hint--right" data-hint="Toggle comps"-->
<!--ng-click="toggleHiddenComps()">-->
<!--<i class="fa" ng-class="{'fa-eye': interactHidden, 'fa-eye-slash': !interactHidden}"></i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="interact__list scroll-container" ng-class="{'interact__list--hidden': interactHidden}">-->
<!--<ul>-->
<!--<li ng-repeat="comp in activeAddress.zillowComps">-->
<!--<img src="{{comp.imgs[0]}}" style="float:left;">-->
<!--<span class="interact__comp-address">-->
<!--<a href="#" ng-click="goInteractCompDetails(comp)">{{comp.address.street1 + ', ' +-->
<!--comp.address.city + ', ' +-->
<!--comp.address.stateAbbrev + ' ' + comp.address.zip}}</a>-->
<!--</span>-->

<!--<div class="interact__comp-stats">-->
<!--<label>Beds: </label> {{comp.bedrooms}}, <label>Baths: </label> {{comp.bathrooms}}-->
<!--</div>-->
<!--<div class="interact__comp-stats"><label>Zestimate: </label> {{comp.zestimate | currency}}-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; COMP DETAILS &ndash;&gt;-->
<!--<div class="interact interact--confirmed" ng-if="activeAddress.status === 'confirmed' && showCompDetails">-->
<!--<div class="interact__header">-->
<!--<div class="interact__title">-->
<!--{{activeAddress.street1 + ', ' + activeAddress.city + ', ' + activeAddress.stateAbbrev + ' ' +-->
<!--activeAddress.zip}}-->
<!--</div>-->
<!--<div class="interact__controls">-->
<!--<button class="simple-btn simple-btn--wilkinson pull-left hint--right" data-hint="Back"-->
<!--ng-click="goInteractList()">-->
<!--<i class="fa fa-arrow-left"></i>-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="scroll-container interact__comp-details">-->
<!--<div class="gutter-half-top gutter-half-left interact__comp-address">-->
<!--{{activeComp.address.street1}}<br/>-->
<!--{{activeComp.address.city + ', ' + activeComp.address.stateAbbrev + ' ' + activeComp.address.zip}}-->
<!--</div>-->
<!--<div class="interact__comp-imgs-container gutter-half-top">-->
<!--<div class="interact__comp-main-img">-->
<!--<img src="{{activeCompImg}}">-->
<!--</div>-->
<!--<div class="interact__comp-imgs">-->
<!--<ul>-->
<!--<li ng-repeat="img in activeComp.imgs" style="margin-right:5px;">-->
<!--<img src="{{img}}" ng-click="selectCompImg(img)">-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<p>Metrics: </p>-->

<!--<div class="interact__comp-stats">-->
<!--<label>Bedrooms: </label><span class="pull-right"> {{activeComp.bedrooms}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats">-->
<!--<label>Bathrooms: </label><span class="pull-right"> {{activeComp.bathrooms}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats">-->
<!--<label>Lot Size (SqFt): </label><span class="pull-right"> {{activeComp.lotSizeSqFt}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats">-->
<!--<label>Lot Size (SqFt): </label><span class="pull-right"> {{activeComp.lotSizeSqFt}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats">-->
<!--<label>Year Built: </label><span class="pull-right"> {{activeComp.yearBuilt}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats">-->
<!--<label>Last Renovated: </label><span-->
<!--class="pull-right"> {{activeComp.lastUpdated | date}}</span>-->
<!--</div>-->
<!--<p>Finances: </p>-->

<!--<div class="interact__comp-stats">-->
<!--<label>Zestimate: </label><span class="pull-right"> {{activeComp.zestimate | currency}}</span>-->
<!--</div>-->
<!--<div class="interact__comp-stats gutter-half-top">-->
<!--<label>Valuation Range</label><br/>-->

<!--<div style="margin-left:20px;">-->
<!--<label>Low: </label> <span-->
<!--class="pull-right">{{activeComp.valuationRange.low | currency}}</span>-->
<!--</div>-->
<!--<div style="margin-left:20px;">-->
<!--<label>High: </label> <span-->
<!--class="pull-right">{{activeComp.valuationRange.high | currency}}</span>-->
<!--</div>-->
<!--<div style="margin-left: 20px">-->
<!--<label>Percentile: </label><span class="pull-right"> {{activeComp.valuationRange.percentile | percentage}}</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="interact__comp-stats gutter-half-top">-->
<!--<label>Last Sold: </label><br/>-->

<!--<div style="margin-left:20px;">-->
<!--<label>Date: </label> <span class="pull-right">{{activeComp.lastSoldDate | date}}</span>-->
<!--</div>-->
<!--<div style="margin-left:20px;">-->
<!--<label>Price: </label> <span-->
<!--class="pull-right">{{activeComp.lastSoldPrice | currency}}</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="interact__comp-stats gutter-half-top">-->
<!--<label>Tax Assessment</label><br/>-->

<!--<div style="margin-left:20px;">-->
<!--<label>Year: </label> <span class="pull-right">{{activeComp.taxAssessmentYear}}</span>-->
<!--</div>-->
<!--<div style="margin-left:20px;">-->
<!--<label>Assessment: </label> <span-->
<!--class="pull-right">{{activeComp.taxAssessment | currency}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->