//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.center-text {
  text-align: center;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.caps {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}
.gutter-top {
  margin-top: $grid-gutter-width !important;
}

.gutter-bottom {
  margin-bottom: $grid-gutter-width !important;
}

.gutter-left {
  margin-left: $grid-gutter-width !important;
}

.gutter-right {
  margin-right: $grid-gutter-width !important;
}

.gutter-half-top {
  margin-top: $grid-gutter-width/2 !important;
}

.gutter-half-bottom {
  margin-bottom: $grid-gutter-width/2 !important;
}

.gutter-half-left {
  margin-left: $grid-gutter-width/2 !important;
}

.gutter-half-right {
  margin-right: $grid-gutter-width/2 !important;
}

.gutter-double-top {
  margin-top: $grid-gutter-width*2 !important;
}

.gutter-double-bottom {
  margin-bottom: $grid-gutter-width*2 !important;
}

.gutter-double-left {
  margin-left: $grid-gutter-width*2 !important;
}

.gutter-double-right {
  margin-right: $grid-gutter-width*2 !important;
}

.gutter-cancel-top {
  margin-top: 0 !important;
}

.gutter-cancel-bottom {
  margin-bottom: 0 !important;
}

.gutter-cancel-left {
  margin-left: 0 !important;
}

.gutter-cancel-right {
  margin-right: 0 !important;
}

// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  @include show;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  @include hidden;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.divider {
  @include nav-divider();
}

.fill-width {
  width: 100% !important;
}

.inner-container {
  padding: $grid-gutter-width;
}

.inner-half-container {
  padding: $grid-gutter-width / 2;
}

.scroll-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  @include box-sizing(border-box);
}